################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/覚え歌つくるくん
/.vs/覚え歌つくるくん/FileContentIndex
/.vs/覚え歌つくるくん/FileContentIndex/6dff798c-d8b7-4aa9-b20f-c6eda0acd098.vsidx
/.vs/覚え歌つくるくん/FileContentIndex/984dc035-d312-40c0-b808-e912bc612aec.vsidx
/.vs/覚え歌つくるくん/FileContentIndex/merges
/.vs/覚え歌つくるくん/FileContentIndex/merges/0dbe5058-1394-4d36-8810-e2bea7b735ac.vsidx
/.vs/覚え歌つくるくん/v17
/.vs/覚え歌つくるくん/v17/.suo
/.vs/覚え歌つくるくん/v17/Browse.VC.db
/.vs/覚え歌つくるくん/v17/Browse.VC.db-shm
/.vs/覚え歌つくるくん/v17/Browse.VC.db-wal
/.vs/覚え歌つくるくん/v17/Browse.VC.opendb
/.vs/覚え歌つくるくん/v17/DocumentLayout.json
/.vs/覚え歌つくるくん/v17/fileList.bin
/.vs/覚え歌つくるくん/v17/ipch
/.vs/覚え歌つくるくん/v17/ipch/b41b74b8df8a3138.ipch
/.vs/覚え歌つくるくん/v17/Solution.VC.db
/Intermediate/覚え歌つくるくん/Debug
/Intermediate/覚え歌つくるくん/Debug/Intermediate
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Button.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/CreateScore.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Main.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.compat.ixx.ifc.dt.d.json
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.compat.ixx.ifc.dt.module.json
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.ixx.ifc.dt.d.json
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.ixx.ifc.dt.module.json
/Intermediate/覚え歌つくるくん/Debug/Intermediate/microsoft/STL/std.ixx.ifc.dt.module.json.command
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Resource.res
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Scene1.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Scene2.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Scene3.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/Scene4.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/ScrollBar.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/stdafx.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/vc143.idb
/Intermediate/覚え歌つくるくん/Debug/Intermediate/vc143.pdb
/Intermediate/覚え歌つくるくん/Debug/Intermediate/VoiceVoxSynthesizer.obj
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん(debug).exe.recipe
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん(debug).ilk
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん(debug).pch
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.log
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/CL.command.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/Cl.items.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/CL.read.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/CL.write.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/link.command.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/link.read.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/link.secondary.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/link.write.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/rc.command.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/rc.read.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/rc.write.1.tlog
/Intermediate/覚え歌つくるくん/Debug/Intermediate/覚え歌つくるくん.tlog/覚え歌つくるくん.lastbuildstate
/Intermediate/覚え歌つくるくん/Debug/覚え歌つくるくん(debug).exe
/Intermediate/覚え歌つくるくん/Debug/覚え歌つくるくん(debug).exp
/Intermediate/覚え歌つくるくん/Debug/覚え歌つくるくん(debug).lib
/Intermediate/覚え歌つくるくん/Debug/覚え歌つくるくん(debug).pdb
/覚え歌つくるくん
/覚え歌つくるくん/App
/覚え歌つくるくん/App/CreatedScores
/覚え歌つくるくん/App/CreatedScores/test-校歌.json
/覚え歌つくるくん/App/Voice
/覚え歌つくるくん/App/Voice/test-校歌-春日部つむぎ（ノーマル）.wav
/覚え歌つくるくん/OpenSiv3D_0.6.1519.vcxproj
/覚え歌つくるくん/OpenSiv3D_0.6.1519.vcxproj.filters
/覚え歌つくるくん/OpenSiv3D_0.6.1519.vcxproj.user
